.card{
    width: 100%;
}
.fotoProfile {
    display: inline-block;
    vertical-align:bottom;
    margin-right: 5px;
   }

.judul{
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-weight: bolder;
   }
