.cancelBtn{
    margin-right: auto;
}
.reqBtn{
    margin-left: 50%;
}
.image-preview{
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4cm;
    height: 3cm;
}
.card{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: rgb(210, 210, 210);
}