.cardLuar{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: rgb(210, 210, 210);
}
/* .ion-justify-content-between{
    margin-left: 20px;
    color: black;
    margin-right: 20px;
} */
.cardDalam{
    border-radius:10px;
}

.text-light{
    color:azure;
}

.text-bold{
    font-weight: bold;
}
.subJudulLeft{
    color: black;
    margin-left: 10px;
}
.subJudulRight{
    margin-right: 30px;
    color: black;
    text-align: right;
    font-weight: bold;
}

.right{
    text-align: right;
}